body {

    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(skyblue, white) no-repeat fixed;
}

#info_flyg{
    display: block;
    background-color: aqua;
    width: 500px;
    height: 100px;

    margin-left: 30%;

}
div.info{

}

div.scrollmenu {

    margin-top: 30px;
    background-color: blueviolet;
    height: 150px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    border: 1px solid #ccc;
    scroll-behavior: smooth;
}

div.scrollflyg{
    display: block;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFEFF9;
    height: 1000px;
    width: 600px;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;

    border: 1px solid #ccc;
    scroll-behavior: smooth;

}

.weather {
    width: 100px;
    text-align: center;
    flex: 0 0 auto;
    padding: 15px 25px;
    background: #eee;
    border-radius: 8px;
}
.weather h1{
    align-items: center;
}

.weather h2{
    font-size: 10px;
    text-align: left;
}


